<!DOCTYPE html>

<html>
<head>
    <title>Простой чат</title>
</head>
<body>
    <p>Введите сообщение</p>
    <input type="text" id="message" name="Message" />
    <input type="button" value="send" id="send" />
    <div id='messages'></div>

    <script type="text/javascript">
        var socket,
            $txt = document.getElementById('message'),
            $user = document.getElementById('user'),
            $messages = document.getElementById('messages');

        if (typeof (WebSocket) !== 'undefined') {
            socket = new WebSocket("ws://localhost:60756/api/chat/ws/");
        }

        socket.onmessage = function (msg) {
            var $el = document.createElement('p');
            $el.innerHTML = msg.data;
            $messages.appendChild($el);
        };

        document.getElementById('send').onclick = function submitForm() {
            socket.send($txt.value);
            $txt.value = '';
        };

        document.getElementById('message').onkeydown = function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                document.getElementById('send').click();
            };
        };

        socket.onclose = function (event) {
            alert('Мы его потеряли. Пожалуйста, обновите страницу');
        };

        window.onbeforeunload = function () {
            socket.onclose = function () { }; // disable onclose handler first
            socket.close();
        };

    </script>
</body>
</html>